BasedOnStyle: LLVM
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterStruct: false
  AfterClass: true
  AfterFunction: true
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
FixNamespaceComments: true
ReflowComments: true
