[submodule "external/static_string"]
	path = external/static_string
	url = https://github.com/akrzemi1/static_string.git
[submodule "external/verilog-parser"]
	path = external/verilog-parser
	url = https://github.com/ben-marshall/verilog-parser.git
